$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
// $halfGutter: math.div($gutter, 2);
$mainColor: rgb(26, 174, 159);
$mainFontAnthra: #011736;
$mainFontGrey: #d3d3d3;
$mainBackground: white;
$cancelOption: crimson;