@use '../../styles/vars';

.mentionslegales {
  background-color: vars.$mainBackground;
  margin: 0 auto;
  padding: 1em 3em;
  min-height: 80vh;

  &__title {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$mainColor;
  }
}