@use '../../styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid vars.$mainColor;
  height: 10vh;
  min-height: 75px;
  padding: 0 3rem;
  color: vars.$mainColor;
  background-color: vars.$mainBackground;

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--img {
      width: 35px;
      transform: rotate(45deg);
      display: block;
      padding-right: 0.5rem;

    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    color: vars.$mainFontAnthra;
    // display: none;

    &--item {
      padding: 0 0.3rem;
      font-size: 1.2rem;
    }
  }

  &__button {
    border: none;
    background-color: vars.$mainColor;
    color: vars.$mainBackground;
    padding: 12px 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: transform 0.3s;
    min-width: 12rem;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    }
  }
}