@use '../../styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid vars.$mainColor ;
  height: 75px;
  padding: 0 3rem;
  color: vars.$mainColor;
  background-color: white;

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--img {
      width: 35px;
      transform: rotate(45deg);
      display: block;
      padding-right: 0.5rem;

    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    color: vars.$mainFontAnthra;
    
    &--item {
      padding: 0 0.3rem;
      font-size: 1.2rem;
    }
  }

  &__button {
    border: none;
    background-color: vars.$mainColor;
    color: white;
    padding: 12px 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
  }
}