@use '../../styles/vars';

.footer {


  height: 10vh;
  min-height: 75px;
  max-height:100px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid vars.$mainColor ;
  background-color: vars.$mainBackground;
  color: vars.$mainFontAnthra;



  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--img {
      display: block;
      height: 40px;
      padding: 0 1rem;
    }

  }

}