@use '../../styles/vars';

.footer {


  height: 10vh;
  min-height: 75px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid vars.$mainColor;
  background-color: vars.$mainBackground;
  color: vars.$mainFontAnthra;



  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--img {
      display: block;
      height: 40px;
      padding: 0 1rem;
    }
  }

  &__stateNavigation {
    display: flex;
    justify-content: space-around;

    &--connected {
      border-radius: 8px;
      border: none;
      background-color: vars.$mainColor;
      margin: 0 0.5rem;
      color: vars.$mainBackground;
    }

    &--deconnected {
      border-radius: 8px;
      border: none;
      background-color: vars.$cancelOption;
      margin: 0 0.5rem;
      color: vars.$mainBackground;
    }

    &--developperOn {
      border-radius: 8px;
      border: none;
      background-color: vars.$mainColor;
      margin: 0 0.5rem;
      color: vars.$mainBackground;
    }

    &--developperOff {
      border-radius: 8px;
      border: none;
      background-color: vars.$cancelOption;
      margin: 0 0.5rem;
      color: vars.$mainBackground;
    }
  }

}