@use '../../styles/vars';

.wrapper {
    min-height: 80vh;
}

.banniere {
    color: vars.$mainBackground;
    // color: vars.$mainFontAnthra;
    font-size: 1.5rem;
    display: flex;
    // align-items: center;
    // justify-content: center;
    height: 4rem;
    border-bottom: 1px solid vars.$mainFontGrey;
    background-color: vars.$mainColor;
}

.profil {
    background-color: vars.$mainBackground;
    margin: 0 auto;
    padding: 1em 0em;
    // min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;

    @media (max-width: 768px) {
        padding: 1em 0em;
        width: auto;

    }

    @media (max-width: 550px) {
        padding: 1em 0em;
    }

    &__title {
        width: 100%;
        height: 2rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: vars.$mainColor;
        margin-bottom: 2rem;
    }

    &__leftpart {
        width: 70%;
        display: flex;
        flex-Direction: column;
        // justify-Content: flex-start;
        // align-Items: center;

        @media (max-width: 768px) {
            width: 70%;
        }


    }

    &__picture__img {
        width: 14rem;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    &__informations {

        &--name {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--localisation {
            font-size: 1.8rem;
            font-style: italic;
            margin-bottom: 1rem;
        }

        &--aboutme {
            font-size: 1.5rem;
        }

        &--description {
            font-size: 1.2rem;
            font-style: italic;
            margin-bottom: 1rem;
        }

        &--email {
            margin-bottom: 2rem;
            padding: 0;
        }

        &--phone {
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }

    }

    &__modify {
        display: flex;
        // align-items: center;
        // width: 100%;

        justify-content: center;

        &__form {
            border: none;
            background-color: vars.$mainColor;
            color: vars.$mainBackground;
            padding: 12px 3rem;
            border-radius: 8px;
            font-size: 1.2rem;
            transition: transform 0.3s;
            margin-bottom: 0;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
        }
    }
}