@use '../../styles/vars';

//* pour le moment car .search englobe tout dans la partie search
//* pour le moment ce composant est affiché dans search
//* ce qui ne devrait plus être le cas prochainement
// .search {
//   margin: 0 auto;
//   //* modifié par rapport à l'orignial
//   padding: 0em 0em;
//   min-height: 80vh;
//   background: white;
// }

.profilDev {
  margin: 0 auto;
  //* modifié par rapport à l'orignial
  padding: 0em 0em;
  min-height: 80vh;
  background: white;

  &__title {
    color: vars.$mainBackground;
    // color: vars.$mainFontAnthra;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-bottom: 1px solid vars.$mainFontGrey;
    background-color: vars.$mainColor;
  }

  &__header {
    display: flex;
    justify-content: stretch;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    &__cadre {
      width: 300px;
      height: 300px;
      min-width: 300px;
      min-height: 300px;

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 2rem 3rem;

      @media (max-width: 400px) {
        width: 230px;
        height: 230px;
        min-width: 230px;
        min-height: 230px;

      }

      &--img {
        width: 420px;

        @media (max-width: 400px) {
          width: 320px;

        }
      }
    }

    &__about {
      margin: 2rem 2rem 2rem 0rem;
      flex-grow: 2;
      position: relative;

      @media (max-width: 695px) {
        margin: 1rem 1rem 1rem 1rem;

      }

      @media (max-width: 400px) {
        width: 310px;
        margin: 1rem 0.5rem 1rem 0.5rem;

      }

      &--favorite {
        position: absolute;
        width: 3rem;
        right: 1.5rem;
        top: 1.5rem;

        @media (max-width: 400px) {
          right: 3rem;
          top: 3rem;
          display: none;
        }

        &:hover {
          cursor: pointer;
        }

      }

      &--label {
        color: vars.$mainColor;
        border-bottom: 1px solid vars.$mainFontGrey;
        margin-bottom: 1rem;
      }

      &--name {
        font-size: 1.7rem;
        font-weight: bold;
        color: vars.$mainFontAnthra;
        margin-bottom: 0.3rem;
      }

      &--pointer {
        width: 1.5rem;
        color: vars.$mainFontGrey;
      }

      &--city {
        color: vars.$mainFontGrey;
        font-size: 1.5rem;
      }

      &--profession {
        color: vars.$mainColor;
        font-style: italic;
        margin-bottom: 1.3rem;
      }

      &--citation {
        padding-left: 0;
        text-align: left;
      }

      &--presentation {
        max-width: 35rem;
        padding-left: 0;
        text-align: left;
      }

      &__mail {
        padding-left: 0;
        display: flex;
        align-items: center;
        color: vars.$mainFontAnthra;
        font-size: 1.2rem;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }

        &--logo {
          width: 3rem;

          padding-left: 0;
          text-align: left;
        }

        &--txt {
          margin-bottom: 0;
          padding-left: 1rem;
        }
      }
    }
  }

  &__container {
    display: flex;
    padding: 0rem 3rem;

    @media (max-width: 695px) {
      flex-direction: column;
      align-items: center;
      padding: 0rem 1rem;
    }
  }

  &__informations {
    width: 300px;
    min-width: 300px;

    @media (max-width: 695px) {
      width: 100%;
      padding: 0rem 1rem;
    }

    @media (max-width: 400px) {
      width: 310px;
      margin: 0 0.5rem;
      font-size: 0.8rem;
    }

    &--label {
      color: vars.$mainColor;
      border-bottom: 1px solid vars.$mainFontGrey;
      margin-bottom: 1rem;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;

      &--label {
        width: 6rem;
        min-width: 6rem;
      }

      &--black {}

      &--color {
        color: vars.$mainColor;
      }
    }

    &__disponibility {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;

      &--logo {
        width: 25px;
        margin: 0 1rem;
      }

    }


  }

  &__skills {
    margin-left: 3rem;
    flex-grow: 1;

    @media (max-width: 695px) {
      width: 100%;
      margin: 0rem 1em;
      padding: 0rem 1em;

    }

    &--label {
      color: vars.$mainColor;
      border-bottom: 1px solid vars.$mainFontGrey;
      margin-bottom: 1rem;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;

      &--label {
        width: 6rem;
        min-width: 6rem;
      }

      &--result {

        &__title {
          margin-bottom: 1rem;
        }
      }

      &--black {}

      &--color {
        color: vars.$mainColor;
      }

      &--container {
        display: flex;
        align-items: center;
        width: 100%;
      }

      &__logos {
        margin-left: 6rem;
        width: 100%;
        max-width: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
          display: flex;
          flex-wrap: wrap;
          width: 4rem;
          height: 3rem;
        }
      }
    }


  }

  &__buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    &--button {
      border: none;
      background-color: vars.$mainColor;
      color: vars.$mainBackground;
      padding: 12px 3rem;
      border-radius: 8px;
      font-size: 1.2rem;
      transition: transform 0.3s;
      min-width: 12rem;
      margin-bottom: 2rem;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

      }
    }
  }
}